#composer
composer.json
composer.lock
vendor

#RDSRadio
streams
figo.sh
omg.sh
testmoseca.php

#madelineproto
session.madeline
session.madeline.lock
madeline.phar
madeline.phar.version
madeline.php
session.madeline.lightState.php
session.madeline.safe.php


#screen
screenlog.*
